lib/examples/TemperatureControl.json
[{"id":"313f0f22.e2af98","type":"TemperatureDevice","z":"f8a2ffdc.769a38","interval":"4","method":"GET","name":"Temp Device","value":"","x":110,"y":220,"wires":[["3ab7dfd9.1dc"]]},{"id":"c40275a4.e8485","type":"coap in","z":"f8a2ffdc.769a38","method":"GET","name":"Temperature Device","server":"123095c6.ab9d32","url":"/temperature","x":209,"y":40,"wires":[["5c0ad19.0519cb"]]},{"id":"5c0ad19.0519cb","type":"function","z":"f8a2ffdc.769a38","name":"Responder","func":"var out = \"{\\\"value\\\":\\\"10\\\"}\";\nmsg.res.end(out);\nreturn msg;","outputs":1,"noerr":0,"x":429,"y":40,"wires":[[]]},{"id":"728cdac4.6b3e34","type":"coap in","z":"f8a2ffdc.769a38","method":"PUT","name":"Thermostat","server":"123095c6.ab9d32","url":"/thermostat","x":180,"y":100,"wires":[["a5268c2.25a3cf"]]},{"id":"a5268c2.25a3cf","type":"function","z":"f8a2ffdc.769a38","name":"Responder","func":"console.log(\"The thermostat temperature has been set.\");\n","outputs":1,"noerr":0,"x":429,"y":100,"wires":[[]]},{"id":"3ab7dfd9.1dc","type":"Encoder","z":"f8a2ffdc.769a38","name":"","outputType":"json","x":289,"y":220,"wires":[["95e4ffb6.d336f8"]]},{"id":"938a0742.15a92","type":"function","z":"f8a2ffdc.769a38","name":"Switch","func":"\nif(Number(msg.payload.value)>260){\n \n  return {value:msg.payload.value};  \n}\n","outputs":1,"noerr":0,"x":330,"y":360,"wires":[["3d46e993.a091b6"]]},{"id":"95e4ffb6.d336f8","type":"DataTypeConvertor","z":"f8a2ffdc.769a38","name":"Int-Float","inputType":"int","outputType":"float","x":439,"y":220,"wires":[["619fc7af.b0754"]]},{"id":"619fc7af.b0754","type":"TemperatureUnitConvertor","z":"f8a2ffdc.769a38","name":"Celsius - Kelvin","inputType":"celsius","outputType":"kelvin","x":604,"y":220,"wires":[["af43e4c7.fa5e"]]},{"id":"af43e4c7.fa5e","type":"temperature","z":"f8a2ffdc.769a38","name":"","x":784,"y":220,"wires":[[],["938a0742.15a92"]]},{"id":"74afa0e5.32eae8","type":"Thermostat","z":"f8a2ffdc.769a38","method":"PUT","name":"","value":"","x":674,"y":526,"wires":[[]]},{"id":"63edc3ec.25cc04","type":"DataTypeConvertor","z":"f8a2ffdc.769a38","name":"Float-Int","inputType":"float","outputType":"int","x":514,"y":526,"wires":[["74afa0e5.32eae8"]]},{"id":"3d46e993.a091b6","type":"targettemperature","z":"f8a2ffdc.769a38","propertyType":"","minValue":"273","maxValue":"300","unitCode":"iot:Kelvin","observable":"true","name":"","iptype":"iot:TargetTemperature","capability":"","foitype":"","foi":"","operation":"create","x":324,"y":520,"wires":[[],["63edc3ec.25cc04"]]},{"id":"123095c6.ab9d32","type":"coap-server","name":"Hello CoAP Server","port":"5683"}]